.dropdown {
    width: fit-content;
    position: absolute;
    list-style: none;
    text-align: start;
    top: 60px;
}

.dropdown li{
    height: 40px;
    background: rgb(0, 212, 212);
    cursor:pointer;
}

.sub-dropdown {
    bottom: 100%;
    left: 100%;
    margin-top: -1px;
    position: relative;
    list-style: none;
}


.dropdownItem {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px; 
}

.dropdownItem:hover {
    background: rgb(0, 175, 175);
}
